@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Inter:wght@400;700&family=Roboto:wght@900&display=swap');
*{
  padding:0;
  margin:0;
}
#contain{
  width:50%;
  height:auto;
  display: flex;
  background: rgba(208, 211, 217, 0.9);
  padding-left: 18rem;
  margin-left: 10rem;

}
.all{
width:100%;
height:auto;
padding-top: 2rem;
margin-left:3rem;
}
.rectangle{
  width: 50%;
  height: auto;
  background: #ffffff;
  padding-bottom: 10rem;

}
.Line1{
  display: flex;
  width: 50%;
  padding-top: 1rem;
  padding-left: 2rem;
}
.icon1{
  width: 5px;
  height: 5px;
}
.icon2{
  padding-left: 11rem;
  display: flex;
  width: 12px;
  height: 12px;
}
.wifi{
  padding-left: 0.5rem;
}
.arrow{
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.reg{
font-family: "Comfortaa";
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 40px;
display: flex;
align-items: center;
letter-spacing: -0.015em;
color: #000000;
padding-left: 1rem;
margin-bottom: 2rem;

}
/* .box1{
width: 90%;
height: 3rem;
margin-left: 1rem;
background: #FFFFFF;
border: 2px solid #000000;
box-sizing: border-box;
margin-bottom: 1rem;
} */

input{
  width: 88.5%;
height: 2.7rem;
margin-left: 1rem;
margin-bottom: 1rem; 
background: #FFFFFF;
border: 2px solid #000000;
box-sizing: border-box;


}
.text1{
margin-left: 1rem;
font-family: "Roboto";
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
color: #000000;
padding-top:0.1rem;
padding-left:1rem;
}
/* .box2{
  width: 90%;
  height: 3rem;
  margin-left: 1rem;
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  margin-bottom: 1rem; */
/* }
.text2{
  margin-left: 1rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  padding-top: 10px;
} */
.box3{
  width: 90%;
  margin-left: 1rem;
  background: #000000;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 6px;
  height: 3rem;
}
.text3{
font-family: "Roboto";
font-style: normal;
font-weight: 900;
font-size: 13px;
line-height: 15px;
align-items: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #FFFFFF;
margin-left: 7rem;
padding-top: 12px;

}
.key{
  width:50%;
  height: auto;
  background: rgba(208, 211, 217, 0.9);
backdrop-filter: blur(81.5485px);
}
#line{
  width: 30%;
  height: 0.3rem;
  background: #000000;
  border-radius: 10px;
  margin-left: 7rem;
  margin-bottom: 0.5rem;
}
.b{
  width:19.8rem;
  height: 14rem;
  padding-bottom: 2rem;
}
.textx{
padding-left:0.7rem;
padding-right: 0.1rem;
padding-top:1.5rem;
top: 328px;
font-family: "Roboto";
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
color: #000000;
}
a{
  color:#000000;
}